.navigation{ width: 80%;margin: 54px auto; text-align: center; display: flex; justify-content: space-between; gap: 24px; border: 1px solid var(--nav-border); padding: 6px; border-radius: 24px;}
.navigation button{
    padding: 12px 44px;
    font-size: 17px;
    border-radius: 24px;
    border: none;
    background: transparent;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s ease;
    color: var(--txt-color);
}
.navigation button:hover{
    background: var(--hover-color);
}
.navActive{
    background: #ff914c !important;
    color: #fff !important;
}
@media screen and (max-width: 999px) {
    .navigation{
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        border: none;
    }
    .navigation button{
        font-size: 15px;
        border: 1px solid var(--hover-color);
    }
}
@media screen and (max-width: 500px) {
    .navigation button{
        padding: 12px 24px;
    }
}